google-api-python-client
openai
Pillow
numpy
lxml
ftfy
regex
tqdm
pandas
git+https://github.com/openai/CLIP.git
openai
backoff
idna
geopandas
python-whois
seaborn
python-Levenshtein
tldextract
scikit-learn
networkx
matplotlib
opencv-python
opencv-contrib-python
gspread==5.10.0
gspread-dataframe==3.0.8